MaxineWally

body {
	color: #DDD33;
}

a {
	text-decoration: none;
}

#left-column {
	float: right;
	left: 20px;
	margin-left: 20px;
	margin-right:20px;
	margin-top: 40px;
	border: 4px #00000;
	border-right-style: solid;
	width: 30%;
	height: 710px;
}

#right-column
{
	display: block;;
	width: 60%;
	float: right;
	margin-top: 40px;
}

/**
.logo {
	float: left;
	height: 100px;
	margin-left: 70px;
	clear: left;
}
**/
img {
   max-width: 65%;
   height: auto;
   right: 100px;
}

div.name {
	font-size: 28px;
	font-family: Helvetica Neue;
	font-variant: small-caps;
	text-align: right;
	float: left;
	font-weight: 600;
	letter-spacing: 1.1px;
	width: 280px;
	height: 30px;
	margin-right:20px;
	padding: 0px 25px 0px 0px;
	clear: left;
}

div.name h1 {
	font-variant: small caps;
}

div.contact {
	font-size: 14px;
	font-family: Helvetica Neue;
	float: left;
	text-align: right;
	height: 50px;
	width: 280px;
	margin-right: 20px;
	padding: 9px 25px 0px 0px;
	/** margin: 0px 25px 0px 0px; **/
	clear: left;
}

div.contact a {
	text-decoration: none;
}

nav {
	float: left;
	font-family: Helvetica Neue;
	font-variant: small caps;
	text-align: right;
	width: 300px;
	margin-right:20px;
	background: #c9969;
	clear: left;
}

.menu-item h4 {
	color: #00000;
	font-size: 28px;
	font-weight: 400;
	font-variant: small caps;
	text-decoration: none;
	letter-spacing: 1.5px;
	margin: 30px 0;
	padding: 0px 0px 0px 0px;
	clear: left;
}

.menu-item h4 a {
  color: #00000;
  display: block;
  text-decoration: none;
  margin-right: 20px;
  text-decoration: none;
}

.menu-item h3 {
	color: #00000;
	font-weight: 300;
	margin-right: 20px;
	letter-spacing: 1.5px;
	font-size: 28px;
	
	clear: left;
}

.menu-item ul {
	height: 0px;
	text-decoration: none;
	list-style-type: none;
	text-align: right;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	height: 60px;
	letter-spacing: 1.1px;
	padding: 0px 0px 0px 0px;
	font-family: Helvetica Neue;
}

/* .menu-item:hover ul {
	height: 375px;
} */

.menu-item ul a {
	text-decoration: none;
	margin: 20px 20px 0;
	position: relative;
	display: block;
	color: black;
}

.menu-item li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  border-bottom: 2px solid #ffdc73;
  transition: 0.4s;
}

.menu-item ul li a:hover:after {
	width: 100%;
	
}

#right-column p {
	font-family: helvetica neue;
	float: right;
	width: 60%;
	margin-top: 40px;
}

.article {
	font-family: Bembo;
	font-size: 15px;
	width: auto;

}

/*
div.ArticleName {
	font-family: bembo;
	font-size: 18px;
	font-weight: bold;
	padding: 30px 30px 0px 0px;
	float: right;
	background: #9c9;
}

div.date {
	float: right;
	font-family: Helvetica Neue;
	font-size: 16px;
	top: 230px;
	left: 380px;
}
p.source {
	font-size: 13px;
}
*/
