MaxineWally

#body {
	margin: 40px auto;
	color: #DDD33;
}

a {
	text-decoration: none;
}

.logo {
	float: left;
	width: 200px;
	height: 100px;
	border: 2px #000000;
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
}
img.resize{
   max-width: 74%;
   max-height: 74%;
}

div.name {
	font-size: 20px;
	font-family: gill sans;
	font-variant: small caps;
	float: left;
	height: 80px;
	width: 300px;
	padding: 0px 0px 0px 5px;
	border: 2px #000000;
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
}

div.name h1 {
	font-variant: small caps;
}

div.contact {
	font-size: 12px;
	font-family: gill sans;
	float: left;
	height: 44px;
	width: 250px;
	padding: 25px 25px 0px 25px;
	border: 2px #000000;
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
}

nav {
	float: left;
	font-family: gill sans;
	font-variant: small caps;
	text-align: right;
	line-height: 3.5;
	width: 248px;
	border-top-style: solid;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-width: 2px;
	top: 149px;
	left: 90px;
	margin: 25px auto;
}

div.ArticleName {
	font-family: bembo;
	font-size: 18px;
	font-weight: bold;
	padding: 30px 30px 0px 0px;
	float: right;
	border: 2px #000000;
	border-top-style: solid;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
}

div.date {
	float: right;
	font-family: gill sans;
	font-size: 16px;
	top: 230px;
	left: 380px;
}

div.article {
	float: left;
	font-family: bembo;
	font-size: 15px;
	left: 380px;
	top: 245px;
	width: 520px;
	border: 2px #000000;
}

.menu-item h4 {
	color: #00000;
	font-size: 18px;
	font-weight: 600;
	font-variant: small caps;
	font-variant: small caps;
	line-height: 3.0;	
}

.menu-item h4 a {
  color: black;
  display: block;
  text-decoration: none;
  width: 200px;
}

.menu-item ul {
	height: 0px;
	text-decoration: none;
	list-style-type: none;
	text-align: right;
	font-weight: 900;
	line-height: 18px;
	padding: 0px 0px 0px 0px;
	width: 275px;
	font-family: Gill Sans;
	margin: 0;
}

/* .menu-item:hover ul {
	height: 375px;
} */

.menu-item li a {
	margin-left: 0px;
	margin-top: 11px;
	margin-bottom: 11px;
	text-decoration: none;
	display: block;
}

.menu-item ul li:hover {
	background: #ddd;
}

p.source {
	font-size: 13px;
}
