MaxineWally

body {
	color: #DDD33;
}

a {
	text-decoration: none;
}

#left-column {
	float: left;
	margin-left: 50px;
	margin-right:20px;
	margin-top: 50px;
	border: 4px #00000;
	border-right-style: solid;
	width: 280px;
	height: 780px;
	
}

.logo {
	float: left;
	height: 100px;
	align: right;
	clear: left;
}
img.resize{
   max-width: 100%;
   max-height: 100%;
}

div.name {
	font-size: 20px;
	font-family: gill sans;
	font-variant: small caps;
	text-align: right;
	float: left;
	height: 35px;
	padding: 0px 25px 0px 0px;
	clear: left;
}

div.name h1 {
	font-variant: small caps;
}

div.contact {
	font-size: 12px;
	font-family: gill sans;
	float: left;
	text-align: right;
	height: 44px;
	padding: 0px 0px 0px 0px;
	/** margin: 0px 25px 0px 0px; **/
	clear: left;
}

nav {
	float: left;
	font-family: gill sans;
	font-variant: small caps;
	text-align: right;
	background: #c9969;
	clear: left;
}

.menu-item h4 {
	color: #00000;
	font-size: 18px;
	font-weight: 500;
	font-variant: small caps;
	line-height: 3.0;
	text-decoration: none;
	padding: 0px 25px 0px 0px;
	clear: left;
}

.menu-item h4 a {
  color: #00000;
  display: block;
  text-decoration: none;
  width: 300px;
}

.menu-item ul {
	height: 0px;
	text-decoration: none;
	list-style-type: none;
	text-align: right;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	height: 60px;
	padding: 0px 0px 0px 0px;
	font-family: Gill Sans;
	margin: 20px 10;
}

/* .menu-item:hover ul {
	height: 375px;
} */

.menu-item li a {
	text-decoration: none;
	margin: 10px 0;
	display: block;
	color: black;
}

.menu-item ul li:hover {
	background: #ddd;
}


div.ArticleName {
	font-family: bembo;
	font-size: 18px;
	font-weight: bold;
	padding: 30px 30px 0px 0px;
	float: right;
	background: #9c9;
}

div.date {
	float: right;
	font-family: gill sans;
	font-size: 16px;
	top: 230px;
	left: 380px;
}

div.article {
	float: right;
	font-family: bembo;
	font-size: 15px;
	left: 380px;
	top: 245px;
	width: 520px;
	border: 2px #000000;
}
p.source {
	font-size: 13px;
}
